<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#botonAlternar" aria-controls="botonAlternar" aria-expanded="false" aria-label="Alternar navegación">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="botonAlternar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/campamentos">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(!usuarioActual) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registro">Registrarse</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Iniciado como <%= usuarioActual.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar sesión</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>

        <div class="container">
            <% if(error && error.length > 0) { %>
                <div class="row">
                    <div class="col-sm-6 mx-auto text-center">
                        <div class="alert alert-danger mt-4" role="alert">
                            <%= error %>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if(exito && exito.length > 0) { %>
                <div class="row">
                    <div class="col-sm-6 mx-auto text-center">
                        <div class="alert alert-success mt-4" role="alert">
                                <%= exito %>
                        </div>
                    </div>
                </div>
            <% } %>