<% include ../partials/header %>


<div class="row">
    <h2 class="text-center mt-3">Editar comentario</h2>
</div>
<div class="row">
    <div class="col-sm-8 col-md-6 mx-auto">
            <form action="/campamentos/<%= campamento_id %>/comentarios/<%= comentario._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="comentario[texto]" cols="30" rows="5"><%= comentario.texto %></textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                    </div>
                    <div class="col">
                        <a href="/campamentos/<%= campamento_id %>" class="btn btn-danger btn-lg btn-block">Volver</a>
                    </div>
                </div>
            </form>
    </div>
</div>


<% include ../partials/footer %>