<% include ../partials/header %>


<div class="row">
    <div class="col">
        <h3 class="text-center mt-3">Agregar nuevo comentario en <i><%= campamento.nombre %></i></h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-6 mx-auto">
        <form action="/campamentos/<%= campamento._id %>/comentarios" method="post">
            <div class="form-group">
                <textarea name="comentario[texto]" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                </div>
                <div class="col">
                    <a href="/campamentos/<%= campamento._id %>" class="btn btn-danger btn-lg btn-block">Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>