<% include ./partials/header %>

<div class="row">
    <div class="col">
        <h2 class="text-center mt-3">Crear nuevo usuario</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 mx-auto">
        <form action="/registro" method="POST">
            <div class="form-group">
                <input class="form-control mb-3 mt-3" type="text" name="username" placeholder="Usuario">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Contraseña">
            </div>
            <input class="btn btn-primary btn-lg btn-block" type="submit">
        </form>
    </div>
</div>

<% include ./partials/footer %>