<% include ../partials/header %>


<div class="row">
    <div class="col">
        <h2 class="text-center mt-3">Editar <i><%= campamento.nombre %></i></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-6 mx-auto">
        <form action="/campamentos/<%= campamento._id %>/?_method=PUT" method="POST">
            <div class="form-group">
                <input type="text" class="form-control mb-3 mt-3" name="campamento[nombre]" placeholder="Nombre" value="<%= campamento.nombre %>">
            </div>
            <div class="form-group">
                <input type="number" class="form-control mb-3 mt-3" name="campamento[precio]" placeholder="Precio" min="0.01" step="0.01" value="<%= campamento.precio %>">
            </div>
            <div class="form-group">
                <input type="text" class="form-control mb-3" name="campamento[imagen]" placeholder="Imagen" value="<%= campamento.imagen %>">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="campamento[descripcion]" placeholder="Descripción" value="<%= campamento.descripcion %>">
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                </div>
                <div class="col">
                    <a href="/campamentos" class="btn btn-danger btn-lg btn-block">Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>


<% include ../partials/footer %>