<% include ../partials/header %>

    <div class="jumbotron mt-3">
        <h1 class="display-4">Bienvenidos a YelpCamp</h1>
        <p class="lead">Lista completa de todos los campamentos</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campamentos/new" role="button">Agregar nuevo campamento</a>
        </p>
    </div>

    <div class="row">
        <% campamentos.forEach(function(campamento){ %>
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="card">
                    <img class="card-img-top" src="<%= campamento.imagen %>">
                    <div class="card-body">
                        <p class="card-text"><%= campamento.nombre %></p>
                        <a href="/campamentos/<%= campamento._id %>" class="btn btn-primary">Más información</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>


<% include ../partials/footer %>