<% include ../partials/header %>

<div class="row">
    <div class="col">
        <h2 class="text-center mt-3">Crear nuevo campamento</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-6 mx-auto">
        <form action="/campamentos" method="post">
            <div class="form-group">
                <input type="text" class="form-control mb-3 mt-3" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input type="number" class="form-control mb-3 mt-3" name="precio" placeholder="Precio" min="0.01" step="0.01">
            </div>
            <div class="form-group">
                <input type="text" class="form-control mb-3" name="imagen" placeholder="Imagen">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="descripcion" placeholder="Descripción">
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                </div>
                <div class="col">
                    <a href="/campamentos" class="btn btn-danger btn-lg btn-block">Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>