<% include ../partials/header %>

<div class="row mt-3">
    <div class="col-md-3">
        <p class="lead">YelpCamp</p>
        <ul class="list-group mb-4">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="card border-primary">
            <img class="card-img-top" src="<%= campamento.imagen %>" width="200px">
            <div class="card-body">
                <h4 class="card-title"><a href=""><%= campamento.nombre %></a></h4>
                <h6 class="card-subtitle mb-2 text-muted lead"><%= campamento.precio %>€/noche</h6>
                <p class="card-text"><%= campamento.descripcion %></p>
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer">Enviado por <%= campamento.autor.username %></footer>
                </blockquote>
                <% if(usuarioActual && campamento.autor.id.equals(usuarioActual._id)) { %>
                    <div class="mb-0 mt-2">
                        <a class="btn btn-warning btn-sm controlShow" href="/campamentos/<%= campamento._id %>/edit">Editar</a>
                        <form class="controlShow" action="/campamentos/<%= campamento._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="card my-4 border-info comentario">
            <div class="card-body">
                <div class="d-flex flex-row-reverse">
                    <a class="btn btn-success mb-4" href="/campamentos/<%= campamento._id %>/comentarios/new">Agregar nuevo comentario</a>
                </div>
                <% campamento.comentarios.forEach(function(comentario) { %>
                    <p class="card-text mb-0"><strong><%= comentario.autor.username %></strong><span class="float-right">Hace 10 dias</span></p>
                    <p class="card-text mb-1"><%= comentario.texto %></p>
                    <% if(usuarioActual && comentario.autor.id.equals(usuarioActual._id)) { %>
                        <a class="btn btn-sm btn-warning controlShow" href="/campamentos/<%= campamento._id %>/comentarios/<%= comentario._id %>/edit">Editar</a>
                        <form class="controlShow" action="/campamentos/<%= campamento._id %>/comentarios/<%= comentario._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
</div>  
<% include ../partials/footer %>